@page "/"

<h1><strong>Welcome to JobJournal.net!</strong></h1>
<h5>The <em>easy</em> way to track your job applications</h5>

<div class="alert alert-info" role="alert">
    <p>Getting started is as easy as 1, 2, 3!</p>
    <ol>
        <li><a href="authentication/login">Sign up</a> for a free account</li>
        <li><a href="company/all">Add a company</a> to your profile</li>
        <li><a href="jobapplication/all">Record</a> your first job application</li>
    </ol>
</div>
