@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<h1>Companies</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <GenericList Items="companies">
            <EmptyTemplate>
                <tr>
                    <td colspan="4" style="color:red; text-align: center;"><i class="fas fa-exclamation-triangle"></i> There are no companies in your profile.</td>
                </tr>
            </EmptyTemplate>
            <ElementTemplate Context="company">
                <CompanyListRow Company="company" />
            </ElementTemplate>
        </GenericList>
    </tbody>
</table>

@code {
    List<CompanyDTO> companies;

    [CascadingParameter]
    public Guid UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            companies = await Http.GetFromJsonAsync<List<CompanyDTO>>($"api/company/all/{UserId.ToString()}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
