@inject HttpClient Http
@inject NavigationManager NavigationManager

<tr>
    <th scope="row">@Company.CompanyName</th>
    <td>@Company.City</td>
    <td>@Company.State</td>
    <td>
        <button type="button" class="btn btn-outline-primary" @onclick="ToggleDetails">Details <i class="@detailsIcon"></i></button>
        <button type="button" class="btn btn-outline-secondary" @onclick="Edit">Edit</button>
        <button type="button" class="btn btn-outline-danger" @onclick="Delete">Delete</button>
    </td>
</tr>
@if (showDetails)
{
    <CompanyDetailsRow Company="Company" OnHideDetails="ToggleDetails" />
}

<ModalDialog @ref="DeleteModal" ModalTitle="Delete Company" OnDialogClosed="DeleteModalClosed">
    <p>Are you sure you want to delete this company?</p>
</ModalDialog>

@code {
    [Parameter]
    public CompanyDTO Company { get; set; }

    ModalDialog DeleteModal { get; set; }

    private bool showDetails { get; set; } = false;
    private string detailsIcon { get; set; } = "oi oi-caret-bottom";

    protected void Details()
    {
        NavigationManager.NavigateTo($"company/{Company.Id}");
    }

    protected void ToggleDetails()
    {
        showDetails = !showDetails;

        if (showDetails)
            detailsIcon = "oi oi-caret-top";
        else
            detailsIcon = "oi oi-caret-bottom";

        InvokeAsync(StateHasChanged);
    }

    protected void Edit()
    {
        Console.WriteLine($"Editing company: {Company.CompanyName}");
    }

    protected void Delete()
    {
        Console.WriteLine($"Deleting company: {Company.CompanyName}");
        DeleteModal.Show();
    }

    protected void DeleteModalClosed(bool isClosed)
    {
        if (isClosed)
        {
            Console.WriteLine("Delete company dialog was closed.");
        }
    }
}
