@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IJobApplicationDataService JobApplicationDataService
@inject NavigationManager NavigationManager

<AddJobApplicationDialog @ref="AddJobApplicationDialog" OnNewJobApplicationSaved="NewJobApplicationAdded" />

<h1>Job Applications</h1>

<div style="padding-bottom: 10px;">
    <button type="button" class="btn btn-primary" @onclick="ShowAddJobApplicationModal">
        <i class="fas fa-plus-square"></i> Add Job Application
    </button>
</div>

@if (JobApplications != null)
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Company</th>
                <th scope="col">Applcation Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <GenericList Items="JobApplications">
                <EmptyTemplate>
                    <tr>
                        <td colspan="5" style="color:red; text-align: center;"><i class="fas fa-exclamation-triangle"></i> You have no job applications.</td>
                    </tr>
                </EmptyTemplate>
                <ElementTemplate Context="application">
                    <JobApplicationListRow JobApplication="application" @key="application" OnRowChanged="OnInitializedAsync" />
                </ElementTemplate>
            </GenericList>
        </tbody>
    </table>
}
else
{
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code {
    [CascadingParameter]
    public Guid UserId { get; set; }

    public List<JobApplicationDTO> JobApplications { get; set; }

    AddJobApplicationDialog AddJobApplicationDialog { get; set; }

    public async Task GetJobApplicationsAsync()
    {
        try
        {
            JobApplications = (await JobApplicationDataService.GetJobApplicationsAsync(UserId)).OrderByDescending(j => j.ApplicationDate).ToList();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetJobApplicationsAsync();
    }

    protected async Task NewJobApplicationAdded(JobApplicationDTO jobApplication)
    {
        Console.WriteLine($"New job application ({jobApplication.JobTitle}) was added to the database");
        await GetJobApplicationsAsync();
        await InvokeAsync(StateHasChanged);
    }

    protected void ShowAddJobApplicationModal()
    {
        AddJobApplicationDialog.Show();
    }
}
