@*
    Credit to: Felipe Gavilán
    Source: https://github.com/gavilanch/BlazorMovies
*@

@typeparam TItem

@if (Items == null)
{
    <div style="padding: 25px 50px 25px;">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if (Items.Count == 0)
{
    @if (EmptyTemplate != null)
    {
        @EmptyTemplate
    }
    else
    {
        // Default Content
        <span style="color:red; text-align: center;"><i class="fas fa-exclamation-triangle"></i> There are no records to display.</span>
    }
}
else
{
    @foreach (var item in Items)
    {

        @ElementTemplate(item)
    }
}

@code {
    [Parameter]
    public RenderFragment EmptyTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem> ElementTemplate { get; set; }

    [Parameter]
    public List<TItem> Items { get; set; }
}
