@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="content px-4">
        <hr />
        <span class="text-muted">
            Copyright &copy; @DateTime.Today.Year by <a href="https://www.linkedin.com/in/seanschwabenlander" target="_blank">Sean Schwabenlander</a>.
            <br />Proudly built using <a href="https://www.blazor.net" target="_blank">Blazor</a>.
        </span>
    </div>
</div>
